.content {
    @apply px-6;
}

.todoapp {
    @apply shadow-2xl;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    top: -11rem;
}

.banner {
    background-image: url("../assets/img/bg-header.jpg");
    height: 30vh;
    background-position: center;
    background-size: cover;
}

@media (min-width: 320px) {}
@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    .container {
        @apply px-0;
    }

    .todoapp {
        @apply shadow-2xl;
        top: -15rem;
    }
}
@media (min-width: 1200px) {}